@font-face {
    font-family: Razed;
    src: url(../assets/fonts/razed.ttf);
}

@font-face {
    font-family: PS;
    src: url(../assets/fonts/ps.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/poppins.ttf);
}
