@import "fonts.css";

h1 {
  font-family: PS;
  text-align: center;
  align-items: center;
  justify-content: center;
}

p {
  font-family: Poppins;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img {
  padding-bottom: 20px;
}
